<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cld.mapper.BaCompchanDataMapper">
  <resultMap id="BaseResultMap" type="com.cld.bean.BaCompchanData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comp_chan_id" jdbcType="INTEGER" property="compChanId" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="deleFlag" jdbcType="VARCHAR" property="deleflag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cld.bean.BaCompchanData">
    <result column="comtent" jdbcType="LONGVARCHAR" property="comtent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, comp_chan_id, createDate, createBy, updateDate, updateBy, deleFlag
  </sql>
  <sql id="Blob_Column_List">
    comtent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ba_compchan_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ba_compchan_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cld.bean.BaCompchanData">
    insert into ba_compchan_data (id, comp_chan_id, createDate, 
      createBy, updateDate, updateBy, 
      deleFlag, comtent)
    values (#{id,jdbcType=INTEGER}, #{compChanId,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, 
      #{deleflag,jdbcType=VARCHAR}, #{comtent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cld.bean.BaCompchanData">
    insert into ba_compchan_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="compChanId != null">
        comp_chan_id,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="createby != null">
        createBy,
      </if>
      <if test="updatedate != null">
        updateDate,
      </if>
      <if test="updateby != null">
        updateBy,
      </if>
      <if test="deleflag != null">
        deleFlag,
      </if>
      <if test="comtent != null">
        comtent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="compChanId != null">
        #{compChanId,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="deleflag != null">
        #{deleflag,jdbcType=VARCHAR},
      </if>
      <if test="comtent != null">
        #{comtent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cld.bean.BaCompchanData">
    update ba_compchan_data
    <set>
      <if test="compChanId != null">
        comp_chan_id = #{compChanId,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        updateBy = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="deleflag != null">
        deleFlag = #{deleflag,jdbcType=VARCHAR},
      </if>
      <if test="comtent != null">
        comtent = #{comtent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cld.bean.BaCompchanData">
    update ba_compchan_data
    set comp_chan_id = #{compChanId,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      updateDate = #{updatedate,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=VARCHAR},
      deleFlag = #{deleflag,jdbcType=VARCHAR},
      comtent = #{comtent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cld.bean.BaCompchanData">
    update ba_compchan_data
    set comp_chan_id = #{compChanId,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      updateDate = #{updatedate,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=VARCHAR},
      deleFlag = #{deleflag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>